@import "tailwindcss";

:root {
  color-scheme: dark;
}

body {
  @apply bg-neutral-950 text-neutral-300 font-sans antialiased;
}

/* Custom scrollbar for terminals */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}
.scrollbar-thin::-webkit-scrollbar-track {
  @apply bg-neutral-900;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  @apply bg-neutral-700 rounded-full;
}
